$primary-color: #302f36;
$secondary-color: #575c70;
$bright-color: #e80566;
$accent-color: #ff8d68;
$background-color1: #f4eabc;
$background-color2: #b9ccfc;

$break-point: 768px;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400&display=swap');
$font-montserrat: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;