@import '../styles/variables';

.list {
  width: 180px;
  font-family: $font-montserrat;
  font-size: 14px;

  &Item {
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
  }
}

.subHeader {
  font-family: $font-lato;
  margin-bottom: 5px;
}

.addBtn {
  border: none;
  padding: 5px;
  font-size: 10px;
  background: rgba($accent-color, .5);
  border-radius: 2px;
  font-family: $font-montserrat;

  &:hover {
    background: rgba($accent-color, .3);
  }

  &:disabled {
    color: limegreen;
    background: rgba($accent-color, .2);
  }
}