@import '../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 200px;
  border-radius: 2px;
  box-shadow: 4px -1px 16px 0px rgba($secondary-color, 0.5);
  margin: 10px 0;
}

.instructions {
  font-size: 14px;
  font-family: $font-montserrat;
  margin: 10px 0;
}